.component-lead-image {
    .img-supporting {
        max-width: 100%;

        &.img-right {
            margin: 0 0 1rem 3rem;
        }

        &.img-left {
            margin: 0 3rem 1rem 0;
        }

        @include media("<md") {
            width: 350px;
        }

        @include media("<sm") {
            width: 50vw;
        }
    }
}