.component-standard-content {

    &[class*='bordered'] {
        padding-top: 0;
        padding-bottom: 0;

        [class*='col'] {
            &:nth-child(1) {
                border-right: 1px solid #ddd;

                @include media("<md") {
                    border-right: 0;
                }
            }
        }
    }
}