@import "variables";

@import "../../node_modules/include-media/dist/include-media";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "social-colors";

@import "tags";
@import "buttons";
@import "container";
@import "header";
@import "title";
@import "hero";
@import "lead";
@import "footer";
@import "collage";

@import "component";
// @import "components/lead-image";
// @import "components/title";
// @import "components/standard-content";
// @import "components/inverted-image";

.img-right {
    float: right;
    margin: 0 0 1rem 1.5rem;
}

.img-left {
    float: left;
    margin: 0 1.5rem 1rem 0;
}

.table-nexa {
    thead {
        tr {
            th {
                background: #d6e9f2;
                color: #535353;
                border-bottom: 0;
            }
        }
    }
}

.list-iconed {
    .item {
        display: flex;
        border-bottom: 1px solid  #ddd;
    }

    .icon {
        width: 200px;
        margin-right: 2rem;

        img {
            width: 100%;
        }
    }

    .content {
        flex: 1;

        h2 {
            font-size: 1.5rem;
        }
    }
}



.row {
    &:before {
        content: none;
    }

    &:after {
        content: '';
    }
}

.form-control {
    &:focus {
        box-shadow: none;
    }
}

.alert {
    ul {
        margin-top: 10px;
    }
}

h1 {
    font-weight: 200;
}

.list-plus {
    list-style: none;
    line-height: 1.6;

    li {
        &:before {
            content: "+";
            font-size: 1.3em;
            margin-right: 12px;
            color: #96C4E3;
        }
    }
}

.aligncenter {
    text-align: center;
}

img {
    &.aligncenter {
        display: block;
        margin: 0 auto;
    }

    &.alignleft {
        float: left;
        display: block;
        margin: 0 10px 10px 0;
    }

    &.alignright {
        float: right;
        display: block;
        margin: 0 0 10px 10px;
    }
}

.component.title + .component.border-top {
    padding-top: 0;
}

@import "calculator";
