.btn {
    border-radius: 8px;

    &.btn-primary {
        border-color: #DDD;
        background: #F9F9F9;
        color: $link-color;
        transition: all .15s;

        &:hover {
            border-color: #ddd;
            background: #ddd;
            color: $link-color;
        }
    }

    &.btn-wide {
        padding-left: 30px;
        padding-right: 30px;
    }

    &.btn-contact-us-today {
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}