.calculator {
    .slider {
        margin: 0 0 25px;

        .track {
            padding: 0 30px;
        }

        .labels {
            display: flex;
            justify-content: center;

            label {
                flex: 1;
                text-align: center;
                font-weight: 100;
                padding: 10px 0;

                &:first-child {
                    text-align: left;
                }

                &:last-child {
                    text-align: right;
                }
            }
        }
    }

    form {
        margin: 0 0 25px;

        p {
            text-align: center;

            &.take-home {
                color: #4290C8;
                font-weight: bold;
                font-size: 26px;
            }
        }
    }

    input {
        margin: 0 10px;
        background: #F9F9F9;
        border: 1px solid #E5E5E5;
        padding: 3px 7px;
        border-radius: 2px;
        font-weight: bold;
        width: 140px;
    }

    input[type=range] {
        border: 0;
        -webkit-appearance: none;
        width: 100%;
        background: transparent;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
    }

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]::-webkit-slider-thumb {
        border: 3px solid white;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: black;
        cursor: pointer;
        margin-top: -5px;
        box-shadow: 0 0 5px #000000;
    }

    input[type=range]::-moz-range-thumb {
        border: 3px solid white;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: black;
        cursor: pointer;
        margin-top: -5px;
        box-shadow: 0 0 5px #000000;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        box-shadow: inset 0 0  4px #777;
        background: #ECECEC;
        border-radius: 5px;
    }


    input[type=range]::-moz-range-track {
      width: 100%;
      height: 10px;
      cursor: pointer;
      box-shadow: inset 0 0  4px #777;
      background: #ECECEC;
      border-radius: 5px;
    }
}
