.collage {
    &.collage-footer {
        display: flex;
        margin-bottom: 2rem;
        flex-wrap: wrap;
        min-height: 300px;
        margin-top: 2rem;

        @include media("<md") {
            height: auto;
        }

        @include media("<sm") {
            height: auto;
        }

        .newsletter {
            width: 25%;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            overflow: hidden;
            position: relative;

            @include media("<md") {
                width: 100%;
                height: 220px;
            }

            @include media("<sm") {
                height: auto;
            }

            .img {
                background-size: cover;
                background-position: center center;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: transform .25s;
            }

            &:hover {
                .img {
                    transform: scale(1.05);
                }
            }

            a {
                padding: 1rem;
                color: white;
                font-size: 1.1rem;
                line-height: 1.2;
                font-weight: 200;
                background: rgba(#333333, .65);
                z-index: 2;

                strong {
                    display: block;
                }
            }
        }

        .elliot {
            overflow: hidden;
            position: relative;
            width: 25%;

            @include media("<md") {
                width: 50%;
            }

            @include media("<sm") {
                width: 100%;
                height: 200px;
            }

            .img {
                background-size: cover;
                background-position: center center;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: transform .25s;
            }

            &:hover {
                .img {
                    transform: scale(1.05);
                }
            }
        }

        .looking-for-advice {
            padding: 1.5rem;
            width: 25%;
            background: #F0F0F0;

            @include media("<md") {
                width: 50%;
            }

            @include media("<sm") {
                width: 100%;
            }

            h2 {
                font-size: 1.1rem;
                margin-top: 0;

                strong {
                    display: block;
                }
            }

            p {
                font-size: 0.8rem;
            }
        }

        .outlink {
            display: flex;
            flex-direction: column;
            width: 25%;

            @include media("<md") {
                width: 50%;
            }

            @include media("<sm") {
                width: 100%;
            }

            &:nth-child(1) {
                div {
                    @include media("<sm") {
                        width: 50%;
                    }
                }
            }

            &:nth-child(4) {
                background: red;
                div {
                    &:nth-child(1) {
                        background: #e9eeeb !important;

                        &:hover {
                            background: darken(#e9eeeb, 5%) !important;
                        }
                    }
                    &:nth-child(2) {
                        background: #d4dbdf !important;

                        &:hover {
                            background: darken(#d4dbdf, 5%) !important;
                        }
                    }
                }
            }

            div {
                height: 152px;
                padding: 1rem;
                font-size: 1.1rem;
                line-height: 1.3;
                position: relative;
                cursor: pointer;
                flex: 1;

                strong {
                    display: block;
                    padding-top: 5px;
                }

                &:nth-child(1) {
                    background: #F3F7F3;
                    transition: background .15s;

                    &:hover {
                        background: darken(#F3F7F3, 5%);
                    }
                }

                &:nth-child(2) {
                    background: #E6E6E6;
                    transition: background .15s;

                    &:hover {
                        background: darken(#E6E6E6, 5%);
                    }
                }

                i {
                    position: absolute;
                    right: 1rem;
                    bottom: 1rem;
                    color: rgba(#333, .5);
                }
            }
        }
    }
}