.component {
    padding-top: 2rem;
    padding-bottom: 2rem;

    .circle {
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50%;
        text-align: center;
        background: #ddd;
        color: white;
        margin-bottom: 10px;
        margin-right: 5px;

        &.twitter {
            background: #00a8f0;
        }

        &.linkedin {
            background: #006eb3;
        }

        &.email {
            background: #999;
        }
    }

    a {
        font-weight: 700;
        color: #005990;
    }

    &.border-top {
        border-top: 1px solid #ddd;
    }

    &.border-bottom {
        border-bottom: 1px solid #ddd;
    }

    &.border-between {
        padding-top: 0;
        padding-bottom: 0;

        .row {
            display: flex;
            flex-wrap: wrap;
        }

        &.covered {
            .image {
                padding-top: 0;
                padding-bottom: 0;
            }
        }

        [class*='col'] {
            padding-top: 2rem;
            padding-bottom: 2rem;

            @include media("<md") {
                padding-top: 1rem;
                padding-bottom: 0;
            }

            &:nth-child(1) {
                border-right: 1px solid #ddd;

                @include media("<md") {
                    border-right: 0;
                }
            }
        }
    }

    &.covered {
        padding-left: 15px;
        padding-right: 15px;

        & + .one_column {
            padding-top: 0;
        }

        &.inverted {
            color: white;

            .row {
                &:not(.image) {
                    background: #333;
                }
            }
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            padding-top: 0rem;
            padding-bottom: 0rem;

            [class*='col'] {
                &.image {
                    display: flex;
                    padding-left: 0;
                    padding-right: 0;

                    div {
                        flex: 1;
                        background-size: cover;
                        background-position: center center;
                    }
                }

                &:not(.image) {
                    padding-top: 2rem;
                    padding-bottom: 2rem;
                }
            }
        }
    }

    &.title {
        padding-bottom: 1rem;

        & + .component {
            padding-top: 1rem;
        }

        h1,h2,h3,h4,h5,h6 {
            margin: 0;
        }
    }
}










// [class*='component'] {
//     margin-bottom: .5rem;
//     margin-top: .5rem;
//     clear: both;

//     [class*='col'] {
//         padding-bottom: 1rem;
//         padding-top: 1rem;
//     }

//     &:after, &:before {
//         content: " ";
//         display: table;
//         clear: both;
//     }

//     &.border-bottom, &.border-top {
//         padding-bottom: 1rem;
//         padding-top: 1rem;
//     }

//     &.border-top {
//         border-top: 1px solid #ddd;
//     }

//     &.border-bottom {
//         border-bottom: 1px solid #ddd;
//     }
// }