.container {
    @include media(">=md") {
        width: map-get($breakpoints, 'md') - $grid-gutter-width;
    }

    @include media(">=lg") {
        width: map-get($breakpoints, 'lg') - $grid-gutter-width;
    }
}

.container-grey {
    background: #f5f5f5;

    .covered {
        .image {
            div {
                margin-top: -2rem;
                margin-bottom: -2rem;
            }
        }
    }

}