#footer {
    background-image:linear-gradient(rgb(95,95,95) 0%,rgb(65,65,65) 100%);
    min-height: 200px;
    color: #B9B9B9;
    padding-top: 2rem;
    padding-bottom: 1rem;

    [class*='col'] {
        margin-bottom: 1rem;

        [class*='col'] {
            margin-bottom: 0rem;
        }
    }

    .circle {
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50%;
        text-align: center;
        background: #ddd;
        color: white;
        margin-bottom: 10px;
        margin-right: 5px;

        &.facebook {
            background: $facebook_color;
        }

        &.twitter {
            background: $twitter_color;
        }

        &.linkedin {
            background: $linkedin_color;
        }
    }

    h2 {
        font-size: 1.33rem;
        margin: 0 0 1.5rem;
        padding: 0;
    }

    a {
        color: inherit;
    }

    ul {
        line-height: 1.8;
    }
}