.front-page {
    #header {
        .emblem {
            display: none !important;
        }
        ul {
            margin-left: 91px !important;

            @include media("<md") {
                margin-left: 0 !important;
            }
        }
    }
}

#header {
    @include media("<md") {
        width: 100%;
    }

    font-size: 16px;

    .emblem {
        position: absolute;
        left: -1120px;
        top: 15px;
        z-index: 1;
        height: 45px;

        @include media("<lg") {
            left: -950px;
        }

        @include media("<md") {
            left: 50%;
            margin-left: -22.5px;
        }

        img {
            height: 45px;
        }
    }

    .row {
        display: flex;
        border-bottom: 2px solid $gray-light;
        height: 80px;

        .btn-square {
            border: 2px solid $gray-light;
            font-size: 0.933rem;
            font-weight: bold;
            display: inline-block;
            transition: background .15s, color .15s;
            align-self: center;
            text-align: center;
            border-radius: 0;
            padding: .58rem;

            &.telephone {
                padding: .58rem (.58rem * 4);

                @include media("<lg") {
                    padding: .58rem;
                }

                @include media("<md") {
                    padding: .58rem (.58rem * 4);
                }

                @include media("<sm") {
                    padding: 0.58rem 0.87rem;
                }
            }

            &.toggle-nav {
                display: none;
                padding: .58rem (.58rem * 1.5);
                position: relative;
                z-index: 15;

                @include media("<md") {
                    display: inline-block;
                }
            }

            &:hover {
                background: $gray-light;
            }
        }

        [class^='col'] {
            align-self: stretch;
            display: flex;

            &:nth-child(1) {
                @include media("<md") {
                    top: 0;
                    left: 0;
                    height: 100%;
                    background: #067bb7;
                    z-index: 10;
                    width: 100%;
                    padding: 0;
                    display: flex;
                    position: fixed;
                    left: -100%;
                    transition: left .15s;
                    text-transform: uppercase;
                }

                ul {
                    margin: 0 0 0 85px;
                    display: flex;
                    align-items: center;

                    @include media("<md") {
                        margin: 0 0 0 0;
                        height: 100%;
                        width: 100%;
                        flex-direction: column;
                        justify-content: center;
                        text-align: left;
                        align-items: inherit;
                        position: absolute;
                    }

                    li {
                        padding: 0 1.66rem;
                        text-align: center;

                        @include media("<md") {
                            padding: .5rem 0;
                            transform: translateX(-150px);
                            opacity: 0;
                        }

                        &.current-menu-item {
                            a {
                                &:after {
                                    transform: scaleX(1);
                                }
                            }
                        }

                        a {
                            display: inline-block;
                            position: relative;

                            &:after {
                                content: ' ';
                                height: 5px;
                                width: 100%;
                                background: #DEEAD2;
                                position: absolute;
                                bottom: -10px;
                                left: 0;
                                transform: scaleX(0);
                                transition: transform .1s;
                            }

                            &:hover {
                                &:after {
                                    transform: scaleX(1);
                                }
                            }

                            @include media("<md") {
                                color: white;
                                font-size: 1.35rem;
                            }
                        }
                    }
                }
            }

            &:nth-child(2) {
                @include media("<md") {
                    width: 100%;
                    justify-content: space-between;
                }

                justify-content: flex-end;
            }
        }
    }


    //  Naivgation Open
    @include media("<md") {
        &.open {
            [class^='col'] {
                &:nth-child(1) {
                    left: 0px;

                    ul {
                        li {
                            transform: translateX(0px);
                            opacity: 1;
                            transition: transform .25s, opacity .25s;

                            @for $i from 1 to 10 {
                                &:nth-child(#{$i}) {
                                    transition-delay: (0.05s * $i);
                                }
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    justify-content: flex-end;

                    .btn-square {
                        &.toggle-nav {
                            color: white;
                            background: lighten(#067bb7, 10%);
                            border-color: lighten(#067bb7, 10%);
                            position: fixed;
                            left: 15px;
                            top: 18px;
                        }
                    }
                }
            }
        }
    }
}