.hero {
    background: #F5F5F5;
    margin-bottom: 1rem;

    &.hero-home {
        height: 26rem;
        background-position: bottom right;
        background-repeat: no-repeat;
        padding: 6.5rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;

        @include media("<sm") {
            height: auto;
            padding:  1rem;
            justify-content: flex-end;
        }

        p {
            max-width: 400px;
            font-size: 1.6rem;
            color: #7d7d7d;
            margin: 0;

            @include media("<sm") {
                max-width: 100%;
                font-size: 1.5rem;
            }
        }

        h2 {
            font-size: 3.16rem;
            margin: 0 0 1rem;
            align-self: flex-start;

            @include media("<sm") {
                font-size: 3rem;
            }

            @supports((background-clip: text) or (-webkit-background-clip: text)){
                background: linear-gradient(to right, #579230 0%, #81b126 18%, #94c01f 49%, #0084c1 75%,#2f3e73 100%);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
            }

        }
    }
}