.lead {
    font-size: floor(($font-size-base * 1.5));
}

._lead {
    line-height: 1.5;

    &.lead-home {
        padding-bottom: 1rem;
        margin-bottom: 1rem;

        h1 {
            padding: 1rem 6.5rem;

            @include media("<=md") {
                padding-left: 15px;
                padding-right: 15px;
            }
        }

        .content {
            background: #F9F9F9;
            padding: 2rem 6.5rem;

            @include media("<=md") {
                padding-left: 15px;
                padding-right: 15px;
            }

            p {
                font-size: 1.2rem;
                margin-bottom: 1rem;
                padding-bottom: 1.5rem;

                &:last-child {
                    border-bottom: 1px solid #DDD;
                }
            }
        }
    }
}