html, body {
    font-size: $font-size-base;
    line-height: 1.5;
}

html {
    // padding-top: 20px;
}

p, ul {
    font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: .75em;
    margin-bottom: .5em;

    &.green {
        color: #76A92B;
    }
}