.front-page {
    #title {
        .logo {
            img {
                margin-left: 35px;
                width: 300px;

                @include media("<md") {
                    margin-left: 0;
                }

                @include media("<sm") {
                    width: 260px;
                }
            }
        }
    }
}

#title {
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
    padding-bottom: 3rem;

    & + .component {
        margin-top: -2rem;
    }

    h1 {
        margin: 0;
        text-align: left;

        @include media("<sm") {
            text-align: center;
        }
    }

    ul {
        font-size: 1.6rem;
        margin: 0;
        text-align: right;

        li {
            padding: 0 1rem;

            &.current-menu-item {
                a {
                    &:after {
                        transform: scaleX(1);
                    }
                }
            }

            a {
                position: relative;

                &:after {
                    content: ' ';
                    height: 5px;
                    width: 100%;
                    background: #DEEAD2;
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    transform: scaleX(0);
                    transition: transform .1s;
                }

                &:hover {
                    &:after {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }

    [class*='col'] {
        display: flex;

        &:nth-child(1) {
            @include media("<sm") {
                justify-content: center;
            }
        }

        &:nth-child(2) {
            justify-content: flex-end;
            align-items: center;
        }
    }
}