$breakpoints: (
  'xs': 320px,
  'sm': 768px,
  'md': 1200px,
  'lg': 1400px
);

$text-color: #535353;

$link-color: #333;
$link-hover-color: #666;
$gray-light: #eaeaea;
$gray-lighter: #f5f5f5;
$link-hover-decoration: none;
$font-size-base: 18px;
$font-family-sans-serif: "museo-sans-rounded", sans-serif;
$font-family-serif: "museo-sans-rounded", sans-serif;
$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

$font-size-h1:            floor(($font-size-base * 2.6)); // ~36px
$font-size-h2:            floor(($font-size-base * 1.5)); // ~30px
$font-size-h3:            ceil(($font-size-base * 1.5)); // ~24px
$font-size-h4:            ceil(($font-size-base * 1.5)); // ~18px
$font-size-h5:            $font-size-base;
$font-size-h6:            $font-size-base;

$screen-lg: 1400px;